<% if current_user %>
  <h5 class="mt-0">Add Comment</h5>
  <%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>
    <div class="form-group">
        <%= form.hidden_field :commenter, :value => current_user.fullname %>
        <%= form.label :body %><br>
        <%= form.text_area :body, {class: 'form-control'} %>
    </div>
    <%= form.submit "Save comment", {class: 'btn btn-primary float-left ml-1'} %>
  <% end %>
<% end %>