<div class="container mt-5">
    <div class="col-md-12 m-auto">
        <h3 class="text-center">Articles</h3>
        <% if user_signed_in? %>
          <small class="form-text text-muted">
            <%= link_to 'Create New Article', new_article_path, class: 'btn btn-primary' %>
          </small>
        <% end %>
        <% if alert %> 
          <div class="alert alert-info mt-2 ">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <ul class="list-group">
            <% @articles.each do |article| %>
              <li class="list-group-item mt-4">
                <div class="row">
                  <div class="col">
                    <%= link_to image_tag(article.image, class: 'img-fluid'), article_path(article) %>
                  </div>
                  <div class="col-8">
                    <h3 class="text-muted"><%= link_to article.title, article_path(article), class: 'badge' %></h3>
                    <div class="text-justify"><%= article.text[0, 250] %></div>
                    <% if user_signed_in? %>
                      <%= link_to 'Edit', edit_article_path(article), class: 'badge badge-warning mr-1' %>
                      <%= link_to 'Delete', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-1' %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
        </ul>
    </div>
</div>
