<div class="container mt-5">
  <div class="col-md-4 m-auto">
    <div class="card text-center">
      <div class="card-header">
        Log in
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-left">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field text-left">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field text-left">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions text-left">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>