<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <% if alert %> 
        <div class="alert alert-info mt-2 ">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <h3 class="text-center">products</h3>
      </div>
      <div class="row ">
        <% @products.each do |product| %>
          <div class="col-md-3 ml-2">
            <div class="row">
              <div class="card" style="width: 18rem;">
                <%= link_to (image_tag(product.image, class: 'img-fluid') if product.image.attached?), product_path(product) %>
                <div class="card-body">
                  <h6 class="card-title"><%= link_to product.title, product_path(product) %></h6>
                  <p class="card-text"> $ <%= product.price %></p>
                  <%= link_to 'Edit', edit_product_path(product) %> |
                  <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          </div> 
        <% end %> 
      </div>
    </div>
    <div class="col-md-4">
    <h6 class="text-center" >sort by:</h6>
    <%= search_form_for @search do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :title_cont, :placeholder => "Product's Name", class: 'form-control ' %>
        <div class="input-group-append">
          <%= f.submit 'Search', class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
    <%= search_form_for @search do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :price_gteq, :placeholder => "Price Between", class: 'form-control ' %>
        &nbsp; and &nbsp;
        <%= f.text_field :price_lteq, :placeholder => "Price Between", class: 'form-control ' %>
        <div class="input-group-append">
          <%= f.submit 'Search', class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to 'Add Category', category_products_path %> |
      <%= link_to 'Add product', new_product_path %>
    </div>

    </div>
  </div>
</div>





