<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">

            
            <% if alert %> 
                <div class="alert alert-info mt-2 ">
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <% end %>

            <% if user_signed_in? %>
                <h4>Add Category</h4>
                <%= form_with model: @category_product, local: true do |form| %>
                <%= form.label :category %>
                <%= form.text_field :category_product, class: 'form-control' %> 
                <%= form.submit "Save", {class: 'btn btn-outline-primary mt-3'}  %>
                <% end %>
            <% end %>
        </div>

        <div class="col-md-8">
            <h4>Categories</h4>
            <ul class="list-group">
                
                <% @category_products.each do |cat| %>
                    <li class="list-group-item">
                    <%= cat.category_product %>
                    <%= link_to 'Delete', category_product_path(cat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-1 float-right' %>
                    <%= link_to 'Edit', edit_category_product_path(cat), class: 'badge badge-warning mr-1 float-right' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>


